.container {
  max-width: 1440px;
}

/* Heading */

.header {
  background-color: #21243d;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header div ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}

.header div ul li {
  list-style: none;
  display: inline-block;
  width: calc(100% / 3);
  height: 120px;
  text-align: center;
}
