.container {
  max-width: 1440px;
}

/* Heading */

.header {
  background-color: #21243d;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
